@import './base.scss';

.nav{
  overflow: hidden;
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    padding: 14px 20px;
    font-size: 17px;
    float: right;
    text-align: center;
    cursor: pointer;
  }
  .logo {
    float: left;
    font-size: 20px;
  }
}

.active {
  background-color: #04AA6D;
  color: white;
}

.slide-container {
  width: 100%;
  height: 400px;
  background: #f8f8f8;
  overflow: hidden;
  position: relative;
}

.slide-content {
  color:#04AA6D;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

