/* ----------------- */
/* Utility classes    */
/* ----------------- */

/* general */

.flex {
   display: flex;
   gap: var(--gap, 1rem); 
}

.grid {
   display: grid;
   gap: var(--gap, 1rem);
}

.display-block {
   display: block;
}

.display-none {
   display: none;
}

.transform-translate-0 {
   transform: translateX(0%);
}

.transform-translate-100 {
   transform: translateX(100%);
}

/* animation */

.transition-ease-out {
   transition: transform 350ms ease-out;
}